body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #0c0d0d, #dcd1d4);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    background-color:pink;
    color: white;
    padding: 15px;
    font-size: 24px;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color:pink;
    color: white;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h1{
    color: black;
}

button {
    background-color: pink;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background-color: pink;
}

#result {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}